<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/crear-producto">NUEVO</button>
                    <table class="table mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Precio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Coca cola</td>
                            <td>Bebida</td>
                            <td>2500</td>
                            <td>Medellín</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Pan Bimbo</td>
                            <td>Alimento</td>
                            <td>1800</td>
                            <td>Cartagena</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <td>Pintura Roja</td>
                            <td>Spray</td>
                            <td>5000</td>
                            <td>Barranquilla</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square text-primary"></i>
                                <i class="fa-solid fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>